<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
</head>
<body>
    <h1>Welcome to your profile</h1>
    <p>Here you can view and edit your profile information.</p>
    <a href="/">Go to Home Page</a>
</body>
</html>